.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .3s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.facebook-link {
    text-decoration: none;
}

.App-title-text {
  font-size: 1em;
}

.App-title {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.news-container {
    margin-top: 50px;
    border-top: 1px solid #CCC;
}

.news-title {
    font-size: 2em;
}

.news-subtitle {
    font-size: 1.7em;
}

.news-text {

}

.news-cit {
    font-size: 1.1em;
}

.moharu-name {
    color: purple;
    font-size: 1.2em;
    font-weight: bold;
}

.other-name {
    color: green;
    font-size: 1em;
    font-weight: bold;
}

.news-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-image {
    height: 100%;
    width: auto;
}

.news-image-inv {
    height: auto;
    width: 100%;
}

.news-moharup {
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
}

.news-audio {
    width: 80%;
}

.full-big {
    font-size: 2em;
}
