
.App-logo {
  animation: App-logo-spin infinite .3s linear;
  height: 80px;
}

.App-logo:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-footer {
    height: 60px;
    background-color: #222;
    color: white;
    padding: 20px;
  }

  .App-footer p {
    text-align: right;
  }

  .App-footer .App-logo {
      text-align: right;
      display: block !important;
      position: absolute;
      float: left;
  }

header {
    z-index: 1;
    width: 100%;
    height: 300px;
    background-color: #222;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .sticky-header {
    padding-top: 100px;
  }
  .sticky-header header {
    height: 80px;
    background-color: #222;
  }
  
  .sticky-header .App-logo {
    display: none
  }

  .sticky-header .App-title {
    margin: 0;
    padding: 0;
  }

  .sticky-header .App-email {
    margin: 0;
    padding: 0;
  }

  .sticky-header .App-title-text {
    display: none;
  }

.facebook-link {
    text-decoration: none;
}

.App-title-text {
  font-size: 1em;
}

.App-title {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.news-container {
    margin-top: 50px;
    border-top: 1px solid #CCC;
}

.news-title {
    font-size: 2em;
}

.news-subtitle {
    font-size: 1.7em;
}

.news-text {

}

.news-help {
    font-size: .8em;
    color: #ccc;
}

.news-cit {
    font-size: 1.1em;
}

.moharu-name {
    color: purple;
    font-size: 1.2em;
    font-weight: bold;
}

.other-name {
    color: green;
    font-size: 1em;
    font-weight: bold;
}

.news-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-image {
    height: 100%;
    width: auto;
}

.news-image-inv {
    height: auto;
    width: 100%;
}

.news-moharup {
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
}

.news-audio {
    width: 80%;
    z-index: 0;
}

.full-big {
    font-size: 2em;
}


@media only screen and (max-width: 320px) {
    .App-title {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
      }
}