body {
  background-color: #ecf0f1;
  font-family: sans-serif;
  padding-top: 270px;
  margin: 0;
  -moz-transition: padding-top 0.5s ease;
  -o-transition: padding-top 0.5s ease;
  -webkit-transition: padding-top 0.5s ease;
  transition: padding-top 0.5s ease;
}
